@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


:root {
  --main-background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(45,182,253,1) 94%);
  --main-text-color: rebeccapurple;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: var(--main-text-color);
}

/* home section styles */

#home {
  height: 100vh;
  background: url(./img//Bg1.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typewriter {
  width: 80%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.8em;
}

.name-header {
  font-size: 1.8em;
  border-left: 5px groove red;
  border-bottom: 5px groove red;
  padding: 5px 15px 0 15px;
  margin-bottom: 10%;
}

.typewriter p {
  line-height: 0.7em;
}

/* navbar styles */

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  line-height: 40px;
  position: absolute;
  height: 10vh;
  width: 80%;
}

.sticky {
  position: fixed;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 10 !important;
}

nav ul a {
  transition: all 0.2s ease-in;
  text-decoration: none;
}

nav ul a:hover {
  cursor: pointer;
  background-color: rgba(102, 51, 153, 0.671);
}

nav ul li {
  margin: 0 15px;
  font-size: 1em;
  text-decoration: none;
  color: darkred;
  transition: all 0.2s ease-in;
}

.active {
  background-color: rebeccapurple !important;
}

.active li {
  color: whitesmoke;
}

.logo {
  font-family: 'Shrikhand', cursive;
  display: flex;
  align-items: center;
}  

#hamburger {
  display: none;
}

@media screen and (max-width: 1024px) {
  nav, nav ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    transition: all 0.5s linear;
  }
  nav {
    background-color: rgba(102, 51, 153, 1);
    color: white;
  }
  nav ul {
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--main-text-color);
    transform: translateX(100%);
  }
  #hamburger {
    display: block;
    position: absolute;
    top: 15%;
    right: 10%;
    transition: all 0.5s linear;
    font-size: 2em;
  }
  #home {
    height: auto;
    margin-top: 10vh;
  }
  .typewriter, .typewriter p {
    line-height: auto;
  }

  #aboutme {
    height: auto;
    margin-top: 5vh;
  }

  .about-me-image {
    display: none;
  }
}

/* about me section style */

#aboutme {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutme-container {
  width: 80%;
  background: var(--main-background);
}

.aboutme-header {
  text-align: center;
}

.about-me-main {
  display: flex;
  direction: row;
}

.about-me-image {
  padding: 25px;
  width: 250px;
}

.about-me-text {
  padding: 25px;
}

.about-me-text button {
  margin: 20px 20px 0 0;
  border-radius: 10px;
  padding: 10px;
  background-color: skyblue;
  border: none;
  transition: background-color 0.5s ease, color 0.5s ease;
} 

.about-me-text button:hover {
  background-color: blueviolet;
  color: azure;
}

/* feature section styles */

.aboutmywork-container {
  margin-top: 10%;
  background: var(--main-background);
  width: 80%;
}

.feature-row {
  display: flex;
  direction: row;
  justify-content: space-around;
  padding: 15px 0;
  text-align: center;
}

.feature-img {
  width: 150px;
  height: 150px;
  border-radius: 75%;
  transition: border-radius 0.5s;
}

.feature-img:hover {
  border-radius: 0;
  width: 150px;
  height: 150px;
}

.feature {
  width: 25%;
}

/* portfolio section styles */

.portfolio {
  height: 100vh;
}

.portfolio-container {
  margin-top: 10vh;
  width: 80%;
}

.portfolio-header {
  text-align: center;
}

.portfolio-tile-row {
  display: flex;
  flex-direction: row;
}

.portfolio-tile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portfolio-tile img {
  transition: all 0.3s ease;
}

.portfolio-tile img:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.portfolio-images {
  width: 100%;
  height: 35vh;
}

.languages {
  display: flex;
  justify-content: space-around;
}

.languages-each {
  width: 100%;
  background-color: grey;
  text-align: center;
  color: aliceblue;
}

/* contact section styles */

.contact {
  height: 100vh;
}

.contact-container {
  margin-top: 10vh;
  width: 80%;
  background: var(--main-background);
}

.contact-header {
  padding: 50px;
  /* background-color: brown; */
}

.contact-header h2,
.contact-header p {
  margin: 0;
}

.contact-row {
  display: flex;
  direction: row;
  justify-content: space-around;
}

.contact-details-column {
  display: flex;
  flex-direction: column;
}

.contact-details a {
  text-decoration: none;
}

.contact-form {
  margin-top: 15px;
}

.contact-form-address {
  display: flex;
  flex-direction: column;
}

.form-item {
  padding: 10px;
  margin: 10px;
  height: 30px;
  border-radius: 5px;
  border: solid 2px cornflowerblue;
}

.form-textarea {
  padding: 10px;
  margin: 10px;
  height: 50px;
  border-radius: 5px;
  border: solid 2px cornflowerblue;
}

.submit-button {
  margin: 10px;
  padding: 10px 20px;
  height: 35px;
  border-radius: 5px;
  border: solid 0.5px darkblue;
  background-color: lavender;
  transition: background-color 0.5s linear, color 0.5s linear;
}

.submit-button:hover {
  cursor: pointer;
  background-color: rebeccapurple;
  color: aliceblue;
}


/* footer section styles */

.footer-section {
  font-size: 10px;
  text-align: center;
  line-height: 40px;
  color: rebeccapurple;
  font-weight: 500;
  margin-top: 50px;
}
