@import url('https://fonts.googleapis.com/css?family=Kalam|Rubik:300,400i&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Rubik';
}

/* home section styles */

#home {
  height: 100%;
  background: url(./img//trianglify.svg);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* navbar styles */

.znav {
  line-height: 60px;
  height: 100px;
  background-color: transparent;
  position: absolute;
  z-index: 5;
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
}

.znavbar {
  display: flex;
  flex-wrap: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  background-color: rgba(135, 115, 181, 0.95);
}

.znavitem:hover {
  cursor: pointer;
  color: blue;
  height: 10%;
}

.znavlink {
  margin: 0 15px;
  font-size: 1.5em;
  text-decoration: none;
  color: coral;
}

.active {
  color: whitesmoke;
}

/* about me section style */

#aboutme {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#aboutme h1 {
  padding: 0;
  margin: 0;
  text-align: center;
}

.about-me-main {
  display: flex;
  direction: row;
}

.about-me-image {
  padding: 25px;
  width: 250px;
}

.about-me-text {
  padding: 25px;
}

#aboutme a {
  text-decoration: none;
}

/* feature section styles */

#about-my-work {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.8), rgba(255, 255, 0, 0.8));
  color: azure;
}

.feature-header {
  padding: 50px;
  background-color: brown;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.feature-row {
  display: flex;
  direction: row;
  justify-content: space-around;
  padding: 15px 25px;
  text-align: center;
}

.feature-img {
  width: 150px;
  height: 150px;
  border-radius: 75%;
  transition: border-radius 0.5s;
}

.feature-img:hover {
  border-radius: 0;
  width: 150px;
  height: 150px;
}

.feature {
  padding: 15px 15px;
  width: 25%;
}

:root {
  --border: ;
}

/* portfolio section styles */

.portfolio {
  height: 100%;
  margin: 0 50px;
  /*  border: var(--border);*/
}

.portfolio-header {
  margin: 15px 25px;
  border: var(--border);
  text-align: center;
}

.portfolio-contents {
  margin: 20px 25px;
  border: var(--border);
}

.portfolio-tile-row {
  display: flex;
  direction: row;
}

.portfolio-tile {
  width: 100%;
  margin: 15px 25px;
  border: var(--border);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portfolio-images {
  width: 100%;
  height: 35%;
}

.languages {
  display: flex;
  justify-content: space-around;
}

.languages-each {
  width: 100%;
  background-color: grey;
  text-align: center;
  color: aliceblue;
}

/* contact section styles */

.contact {
  height: 100%;
  background-image: linear-gradient(-90deg, rgba(255, 0, 0, 0.8), rgba(255, 255, 0, 0.7));
}

.contact-header {
  padding: 50px;
  padding-top: 70px;
  background-color: brown;
  color: azure;
}

.contact-header h2,
.contact-header p {
  margin: 0;
}

.contact-row {
  display: flex;
  direction: row;
  justify-content: space-around;
  padding-top: 7em;
}

.contact-details-column {
  display: flex;
  flex-direction: column;
}

.contact-form {
  margin-top: 15px;
}

.contact-form-address {
  display: flex;
  flex-direction: column;
}

.form-item {
  padding: 10px;
  margin: 10px;
  height: 30px;
  border-radius: 5px;
  border: solid 2px cornflowerblue;
}

.form-textarea {
  padding: 10px;
  margin: 10px;
  height: 50px;
  border-radius: 5px;
  border: solid 2px cornflowerblue;
}

.submit-button {
  margin: 10px;
  padding: 10px 20px;
  height: 35px;
  border-radius: 5px;
  border: solid 0.5px darkblue;
  background-color: lavender;
}


/* footer section styles */

.footer-section {
  background-color: #F48B07;
  font-size: 10px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: 500;
}
